# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage*

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# Local environment & config
.env
*.local.*
data/users.json

